<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{resources/fragments/layout}"
>
  <head>
    <title>Recruitment App</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div layout:fragment="content">
      <h1 th:text="#{applicantpage.header}"></h1>

      <form th:action="@{/logout}" method="post">
        <input type="submit" th:value="#{default.logoutbtn}" />
      </form>

      <p>
        <a th:href="@{/applicant?lang=en}" th:text="#{lang.en}"></a>
        <a th:href="@{/applicant?lang=sv}" th:text="#{lang.sv}"></a>
      </p>

      <p th:text="#{applicantpage.subheader}"></p>
    </div>
  </body>
</html>
