<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html>
    <head>
      <title>Recruitment App</title>
      <style>
        /* Styling for the body */
        body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
        }
        /* Styling for the form */
        form {
          text-align: center;
        }
      </style>
    </head>

    <body>
      <p>
        <a th:href="@{/changePassword?lang=en}" th:text="#{lang.en}"></a>
        <a th:href="@{/changePassword?lang=sv}" th:text="#{lang.sv}"></a>
      </p>

      <h1 th:text="#{changepassword.header}"></h1>
      <p th:text="#{changepassword.subheader}"></p>
      <form
        th:action="@{/changePassword}"
        method="post"
        modelAttribute="person"
      >
        <input type="hidden" name="token" th:value="${param.token}" />
        <table>
          <tr>
            <td></td>
            <td>
              <input
                type="password"
                id="password"
                name="password"
                th:placeholder="#{default.password}"
                required
              />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input
                type="submit"
                th:value="#{changepassword.changepasswordbtn}"
              />
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              <a th:href="@{/login}" th:text="#{regpage.back}"></a>
            </td>
          </tr>
        </table>
      </form>
    </body>
  </html>
</html>
