<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html>
    <head>
      <title>Recruitment App</title>
      <style>
        /* Styling for the body */
        body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
        }
        /* Styling for the form */
        form {
          text-align: center;
        }
      </style>
    </head>

    <body>

      <p>
        <a th:href="@{/login?lang=en}" th:text="#{lang.en}"></a>
        <a th:href="@{/login?lang=sv}" th:text="#{lang.sv}"></a>
        
    </p>
      <h1 th:text="#{mainpage.header}"></h1>
      <p th:text="#{mainpage.subheader}"></p>
      <form th:action="@{/login}" method="post">
        <table>
          <tr>
            <td></td>
            <td>
              <input
                type="text"
                id="username"
                name="username"
                th:placeholder="#{default.username}"
                required
              />
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input
                type="password"
                id="password"
                name="password"
                th:placeholder="#{default.password}"
                required
              />
            </td>
          </tr>
        </tr>
          <tr>
            <td colspan="2"><input type="submit" th:value="#{mainpage.loginbtn}"></td>
          </tr>
          <tr>
            <td colspan="2" style="color: red;" th:if="${param.error}" th:text="#{mainpage.credentials.invalid}"></td>
            <td colspan="2" style="color: green;" th:if="${param.registered}" th:text="#{mainpage.registration.success}"></td>
            <td colspan="2" style="color: green;" th:if="${param.recoveryEmailSent}" th:text="#{mainpage.recovery.email.success}"></td>
            <td colspan="2" style="color: green;" th:if="${param.passwordChanged}" th:text="#{mainpage.recovery.password.success}"></td>

          </tr>
          <br>
          <tr>
            <td></td>
            <td>
              <a th:href="@{/registration}" method="get" th:text="#{mainpage.createaccount}"></a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a th:href="@{/passwordRecovery}" method="get"th:text="#{login.forgotpassword}"></a>
            </td>
          </tr>
        </table>
      </form>
    </body>
  </html>
</html>
