<!DOCTYPE html>
<html>

<head>
  <title>Recruitment App</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    form {
      text-align: center;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script> <!-- Include the sha256 library -->
  <script>
    function hashPassword(event) {
      event.preventDefault(); // Prevent form submission
      var passwordInput = document.getElementById("password");
      var salt = "thisissomesalt1234"; // TODO Replace with another salt
      var hashedPassword = sha256(passwordInput.value + salt);
      passwordInput.value = hashedPassword;
      event.target.submit(); // Submit the form with hashed password
    }
  </script>
</head>

<body>
  <h1>Login page</h1>
  <p>Please enter credentials</p>
  <form action="/login" method="post" onsubmit="hashPassword(event)">
    <table>
      <tr>
        <td><label for="username">Username</label></td>
        <td><input type="text" id="username" name="username" required></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input type="password" id="password" name="password" required></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Submit"></td>
      </tr>
      <tr>
        <td colspan="2" style="color: red;" th:text="${loginError}"></td>
      </tr>
    </table>
  </form>
  <p th:text="'Username: ' + ${username}"></p>
  <p th:text="'Password: ' + ${password}"></p>
</body>

</html>
