<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html>
    <head>
      <title>Recruitment App</title>
      <style>
        /* Styling for the body */
        body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
        }
        /* Styling for the form */
        form {
          text-align: center;
        }
      </style>
    </head>

    <body>
      <h1>Login page</h1>
      <p>Please enter credentials</p>
      <form th:action="@{/login}" method="post">
        <table>
          <tr>
            <td></td>
            <td>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Username"
                required
              />
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
            </td>
          </tr>
          <!--Show if bad credentials-->
          <div style="color: red" th:if="${param.error}">
            Bad credentials, please try again!
          </div>

          <tr>
            <td colspan="2"><input type="submit" value="Login" /></td>
          </tr>
          <tr>
            <td colspan="2" style="color: red" th:text="${loginError}"></td>
          </tr>
        </table>
      </form>
    </body>
  </html>
</html>
