<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html>
    <head>
      <title>Recruitment App</title>
      <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    </head>

    <body>
      <div th:replace="~{fragments/header :: header}"></div>
      <div class="main" layout:fragment="content">
        <p>
          <a th:href="@{/passwordRecovery?lang=en}" th:text="#{lang.en}"></a>
          <a th:href="@{/passwordRecovery?lang=sv}" th:text="#{lang.sv}"></a>
        </p>

        <h1 th:text="#{passwordrecovery.header}"></h1>
        <p th:text="#{passwordrecovery.subheader}"></p>
        <form
          th:action="@{/passwordRecovery}"
          method="post"
          modelAttribute="email"
        >
          <table>
            <tr>
              <td></td>
              <td>
                <input
                  type="email"
                  id="email"
                  name="email"
                  th:placeholder="#{regpage.email}"
                  required
                />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="submit" th:value="#{passwordrecovery.sendmail}" />
              </td>
            </tr>

            <tr>
              <td></td>
              <td>
                <a th:href="@{/login}" th:text="#{regpage.back}"></a>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </body>
  </html>
</html>
