<!DOCTYPE html>
<html>
  <head>
    <title>Recruitment App</title>
    <style>
      /* Styling for the body */
      body {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <h1 th:text="#{recruiterpage.header}"></h1>

    <form th:action="@{/logout}" method="post">
      <input type="submit" th:value="#{default.logoutbtn}" />
    </form>

    <p>
      <a th:href="@{/recruiter?lang=en}" th:text="#{lang.en}"></a>
      <a th:href="@{/recruiter?lang=sv}" th:text="#{lang.sv}"></a>
    </p>

    <p th:text="#{recruiterpage.subheader}"></p>

    <table>
      <tr th:each="applicant : ${applications}">
        <td
          th:text="#{recruiterpage.fullname} + ${': ' + applicant.person.name + ' ' + applicant.person.surname}"
        ></td>
        <td th:switch="${applicant.status.statusNumber}">
          <span
            th:case="'101'"
            th:text="'| '+ #{recruiterpage.status} + ': ' + #{status.101}"
          ></span>
          <span
            th:case="'102'"
            th:text="'| '+ #{recruiterpage.status} + ': ' + #{status.102}"
          ></span>
          <span
            th:case="'103'"
            th:text="'| '+ #{recruiterpage.status} + ': ' + #{status.103}"
          ></span>
        </td>
      </tr>
    </table>
  </body>
</html>
