<!DOCTYPE html>
<html>
  <head>
    <title>Recruitment App</title>
    <style>
      /* Styling for the body */
      body {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <h1>Recruiter Page</h1>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Logout" />
    </form>

    <p>List of applications</p>
    <table>
      <tr th:each="applicant : ${applications}">
        <td
          th:text="${'Full name: ' + applicant.person.name + ' ' + applicant.person.surname}"
        ></td>
        <td th:text="${'| Status: ' + applicant.status.name}"></td>
      </tr>
    </table>
  </body>
</html>
